<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<!-- index.html  30 Nov 2019 03:15:44 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ANEIC</title>

      <!-- This is the second page links-->
     <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">



    <!-- fontawesome css link -->
    <link rel="stylesheet" href="./assets/css/fontawesome-all.min.css">
    <!-- flaticon css -->
    <link rel="stylesheet" href="./assets/font/flaticon.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="./assets/css/magnific-popup.css">
    <!-- nice-select css -->
    <link rel="stylesheet" href="./assets/css/nice-select.css">
    <!-- bootstrap css link -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <!-- swipper css link -->
    <link rel="stylesheet" href="./assets/css/swiper.min.css">
    <!-- favicon -->
    <link rel="shortcut icon" href="./assets/images/fav.png" type="image/x-icon">
    <!-- animate.css -->
    <link rel="stylesheet" href="./assets/css/animate.css">
    <!-- main style css link -->
    <link rel="stylesheet" href="./assets/css/style.css">
    <!-- responsive css link -->
    <link rel="stylesheet" href="./assets/css/responsive.css">


  


</head>
<body>


    <!-- preloader -->
    <div class="preloader" id="preloader">
        <div class="preloader-thumb">
            <img src="assets/images/propeller.png" alt="image">
        </div>
    </div>


    <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="index.html">ANEIC</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>


      <nav id="navbar" class="navbar">
        <ul>
        
          <li><a class="nav-link scrollto " th:href="@{/}">Home</a></li>
          <li><a class="nav-link scrollto" th:href="@{/about}">About</a></li>
          <li><a class="nav-link scrollto" th:href="@{/maps}">Maps</a></li>
          <li class="dropdown active"><a th:href="@{/}">Energy Resource <i class="bi-chevron-down"></i></a>
            <ul>
             <li class="dropdown"><a href="#">Non-Renewable <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a th:href="@{/coal}">Coal</a></li>
                  <li><a th:href="@{/gas}">Gas</a></li>
                  <li><a th:href="@{/petroluem}">Petroluem</a></li>
                  <li><a th:href="@{/automic}">Autom</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#">Renewable<i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a th:href="@{/water}">Hydrogen</a></li>
                  <li><a th:href="@{/solar}">Solar</a></li>
                  <li><a th:href="@{/wind}">Wind</a></li>
                  <li><a th:href="@{/biomass}">Biomass</a></li>
                </ul>
              </li>

            </ul>
          </li>
          
          <li class="dropdown active"><a href="#"> Documents <i class="bi-chevron-down"></i></a>
            <ul>
                <li><a th:href="@{/importelectricity}">Laws</a></li>
                <li><a th:href="@{/electricitygeneration}">Regulation</a></li>
                <li><a th:href="@{/energyconsumption}">Procedure</a></li>
            </ul>
          </li>
          
           <li class="dropdown active"><a href="#">Reports<i class="bi-chevron-down"></i></a>
            <ul>
                <li><a th:href="@{/statistic}">Statistic</a></li>
                <li><a th:href="@{/gis}">GIS</a></li>
                <li><a th:href="@{/importelectricity}">Import Electricity</a></li>
                <li><a th:href="@{/electricitygeneration}">Generation Electricity</a></li>
                <li><a th:href="@{/energyconsumption}">Consumption Electricity</a></li>
            </ul>
          </li>
          
          <li class="dropdown active"><a href="#">Media <i class="bi-chevron-down"></i></a>
            <ul>
              <li><a th:href="@{/videos}">Video</a></li>
              <li><a th:href="@{/photo}">Photo</a></li>
              <li class="dropdown"><a href="#">Social Media <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a th:href="@{/facebook}">facebook</a></li>
                  <li><a th:href="@{/twitter}">Twitter</a></li>
                  <li><a th:href="@{/instagram}">Malagari</a></li>
                  <li><a th:href="@{/youtube}">Youtube</a></li>
                </ul>
              </li>
              
            </ul>
          </li>

          <li><a class="nav-link scrollto" th:href="@{/contact}">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->



    <!-- banner-section start -->
    <section class="banner-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 text-center">
                    <div class="banner-content">
                        <h2 class="title">Afghanistan National Energy Information Center</h2>
                        <p>This is the Afghanistan National Energy Information Center</p>
                        <div class="btn-area">
                           <a th:href="@{/login}" class="cmn-btn-active"><i class="fab fa-google"></i> <i class="fas fa-sign-in-alt"></i>Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-section end -->


    <a href="#" class="scrollToTop"><img src="assets/images/aeroplane.png" alt="image"></a>


    
     


     <!-- overview-section start -->
     <section class="overview-section">
        <div class="overview-element my-paroller" data-paroller-factor="0.05" data-paroller-type="foreground" data-paroller-direction="horizontal">
            <img src="assets/images/overview-bg.png" alt="image">
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5 pl-lg-0">
                    <div class="overview-thumb--style2"></div>
                </div>
                <div class="col-lg-6">
                    <div class="overview-content pt-120 pb-120">
                        <h2 class="title">Vision & Mission</h2>
                        <p>Optimal sustainable development, maintenance of quality and efficient use of water resources to match with the growing demands on this precious natural resource of the country.</p>
                             <br>
                             <br>
                        <div class="row mb-30-none">
                            <div class="col-lg-4 col-md-6 col-sm-8 mb-30">
                                <div class="counter-item">
                                    <span>kWh</span>
                                    <span class="counter-number">141.95</span>
                                    <h3 class="counter-content">Own consumption</h3>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-8 mb-30">
                                <div class="counter-item">
                                    <span>kWh</span>
                                    <span class="counter-number">31.11</span>
                                    <span class="counter-content">Production</span>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-8 mb-30">
                                <div class="counter-item">
                                    <span>kWh</span>
                                    <span class="counter-number">113.03</span>
                                    <span class="counter-content">Import</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- overview-section start -->


    <!-- New News-section start -->
    <section class="service-section pt-120 pb-120" >
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-header">
                        <h2 class="section-title">What's New</h2>
                        <span class="title-border"></span>
                        <p>Dictumst quis dolor fermentum felis id, libero sit suspendisse urna orci bibendum. donec non commodo sagittis sed feugiat aliquet feugiat lobortis</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mb-30-none">
            	<tr th:each="news:${getNews}">
                <div class="col-lg-4 col-md-6 col-sm-8 mb-30">
                    <div class="">
                        <div class="service-thumb">
                        <td>
                            <img th:src="${news.getUrlPath}" alt="image" style="width: 400px; height: 300px;">
                        </td>  
                        </div>
                        <div class="service-content">
                        <a class="learn_more" th:href="@{|more/${news.id}|}"> <h4>   <td th:text="${news.title}"> </td>  </h4>   
                         <p class="d-inline" style="font-weight: bold;">➦ Read more...     </p>  
                         <p class="d-inline" th:text="${#dates.format(news.uploadTime, 'MM/dd/yyyy')}" style="color: green; font-weight: bold;"> </p>                 
                       </a>
                        </div>
                        <div class="service-overlay">
                            <div class="service-overlay-thumb">
                             <td>
                            <img th:src="${news.getUrlPath}" alt="image">
                             </td> 
                            </div>
                        </div>
                    </div>
                </div>
                </tr>    
        </div>
    </section>
    <!-- service-section end -->

 
  

    <!-- footer-section start -->
    <footer class="footer">
        <div class="footer-left col-md-4 col-sm-6">
          <p class="about">
             <span style="font-size: 30px;">Granted Licenses </span>
              Brishna,77insaat, Bayat Power,Zularistaan <a href="license">learn more...</a>
           </p>
          <div class="icons">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"> <img src="assets/images/malgari.png" style="width: auto; height: 20px;"> </a>
          </div>
        </div>
        <div class="footer-center col-md-4 col-sm-6">
          <div>
            <i class="fa fa-map-marker"></i>
            <p><span>  Darlaman Street </span> Kabul, Afghanistan</p>
          </div>
          <div>
            <i class="fa fa-phone"></i>
            <p> 02007484848</p>
          </div>
          <div>
            <i class="fa fa-envelope"></i>
            <p><a href="#"> aneic29@gmail.com</a></p>
          </div>
        </div>
        <div class="footer-right col-md-4 col-sm-6">
          <h2> ANEIC<span> logo</span></h2>
          <p class="name">Afghanistan Natioanl Electricity information Center &copy; 2022</p>
        </div>
      </footer>





<!-- jquery -->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<!-- migarate-jquery -->
<script src="assets/js/jquery-migrate-3.0.0.js"></script>
<!-- bootstrap js -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- magnific-popup js -->
<script src="assets/js/jquery.magnific-popup.js"></script>
<!-- isotope -->
<script src="assets/js/isotope.pkgd.min.js"></script>
<!-- nice-select js-->
<script src="assets/js/jquery.nice-select.js"></script>
<!-- swipper js -->
<script src="assets/js/swiper.min.js"></script>
<!-- waypoints js link -->
<script src="assets/js/jquery.waypoints.min.js"></script>
<!-- counterup js -->
<script src="assets/js/jquery.counterup.min.js"></script>
<!-- paroller js -->
<script src="assets/js/jquery.paroller.min.js"></script>
<!-- main --> 
<script src="assets/js/main.js"></script>


</body>

<!-- index.html  30 Nov 2019 03:18:45 GMT -->
</html>
